cromwell-workflow-logs/
cromwell-executions/
logfiles/
myInputs.json
my.conf
run_censat.sh
cen12*
cen10*
config.txt
.censat.json
general.run_censat.20240330.3369647.log 
general.run_censat.20240330.3369648.log 
general.run_censat.20240330.3369649.log
general.run_censat*
censat_logs/
analysis/
hg38.fa*
log.txt
CHM13*
chm13*
