cromwell-workflow-logs/
cromwell-executions/
logfiles/
myInputs.json
my.conf
run_censat.sh
cen12*
cen10*
config.txt
.censat.json
general.run_censat.20240330.3369647.log 
general.run_censat.20240330.3369648.log 
general.run_censat.20240330.3369649.log
general.run_censat*
censat_logs/
analysis/
hg38.fa*
log.txt
CHM13*
chm13*
analysis/
sample_data.csv
HG002/
hg002v1.0.1.fasta.censat.json hg38.fa.censat.json
HG002 HG002_censat_inputs.json HG002_censatv2.0_outputs.json
slurm_logs/
